<section class="phx-hero">
  <p>Enter a Github username<br>to view that user's watched and owned repositories</p>
</section>

<section class="row">
  <form action="/user_repos" method="POST">
    Username:
    <input type="hidden" value="<%= @token %>" name="_csrf_token"/>
    <input type="text" name="username"/>
    <input type="submit" value="Send" />
  </form>
</section>
