<section class="phx-hero">
  <p>Enter a Github username<br>to view that user's watched and owned repositories</p>
</section>

<section class="row">
  <%= form_for @conn, Routes.page_path(@conn, :getRepos), [class: "column"], fn f -> %>
    Username:
    <%= text_input f, :username %>
    <%= submit "Submit" %>
  <% end %>
</section>